
<div class="content">
<%#= @a.inspect %>
    <div class="breadLine">

        <ul class="breadcrumb">
            <li><%= link_to "List Users", users_path %></li>
        </ul>

    </div>

    <div class="workplace">

        <div class="row-fluid">
            <div class="span12 search">
                <%= form_tag users_path, :method => 'get' do %>
                    <%= text_field_tag :search, params[:search], :class => "span11", :placeholder => "Some text for search..." %>
                    <button class="btn span1" type="submit">Search</button>
                <% end %>
            </div>
        </div>
        <!-- /row-fluid-->

        <div class="row-fluid">

            <div class="span12">
                <div class="head">
                    <div class="isw-grid"></div>
                    <h1>Users Management</h1>
                    <div class="clear"></div>
                </div>
                <%= form_tag activate_users_path, method: :put do %>                       
                <div class="block-fluid table-sorting"> 
                    <%= link_to "Add User", new_user_path, :class => "btn btn-add" %>                
                    <table cellpadding="0" cellspacing="0" width="100%" class="table" id="tSortable_2">
                        <thead>                    
                        <tr>
                            <th><input type="checkbox" id="checkAll" value="checkAll" /></th>

                            <th width="15%" class="sorting"><%= link_to "ID", search: params[:search],
                                                                    col: :id, :sort => @sort_type %>
                            </th>
                            <th width="35%" class="sorting"><%= link_to "Username", search: params[:search],
                                                                        col: :name, :sort => @sort_type %>
                            </th>
                            <th width="20%" class="sorting"><%= link_to "Activate", search: params[:search],
                                                                      col: :active, :sort => @sort_type %>
                            </th>
                            <th width="10%" class="sorting"><%= link_to "Time Created", search: params[:search],
                                                                        col: :created_at, :sort => @sort_type %>
                            </th>
                            <th width="10%" class="sorting"><%= link_to "Time Updated", search: params[:search],
                                                                        col: :updated_at, :sort => @sort_type %>
                            </th>
                            <th width="10%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @model_objs.each do |object| %>
                        <tr>
                            <td><%= check_box_tag "user_ids[]", object.id %></td>
                            <td><%= object.id %></td>
                            <td><%= object.name %></td>
                            <%if object.active == true %>
                                <td><span class="text-success">Activated</span></td>
                            <%else%>
                                <td><span class="text-error">Deactived</span></td>
                            <%end%>
                            <td><%= object.created_at %></td>
                            <td><%= object.updated_at %></td>
                            <td><%= link_to "Edit", edit_user_path(object), :class => "btn btn-info" %></td>
                        </tr>
                        <% end %>
                        </tbody>
                    </table>
                    <div>
                        <%= submit_tag "Activate", :name => "Activate", :class => "btn btn-success" %>
                        <%= submit_tag "Delete", :name => "Delete", :class => "btn btn-danger" %>
                    </div><!-- /bulk-action-->
                    
                    <div class="dataTables_paginate">
                        <%= will_paginate @model_objs %>
                    </div>
                    <div class="clear"></div>
                       
                </div>
                <% end %> 
            </div>

        </div>
        <div class="dr"><span></span></div>

    </div>

</div>



